.verticalLineParent {

  position: relative;
}

.verticalLine {
  content: '';
  position: absolute;
  top: 10%;
  right: 46%;
  transform: translateX(-50%);
  width: 2px;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.25);
}

.headerHight {

  margin-top: var(--navbar-height);
}



@media (max-width:1000px) {

  .headerHight {

    margin-top: 0;
  }
}